/* --- Estilos do Carrossel --- */
.carousel-container {
    position: relative;
    width: 95%;
    max-width: 850px;
    /* Aumenta a largura máxima do carrossel */
    margin: 50px auto;
}

.carousel-slide {
    display: none;
    animation: fade 0.5s ease-in-out;
}

.carousel-slide.active {
    display: block;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

.card {
    background-color: transparent;
    /* Card transparente */
    border-radius: 15px;
    box-shadow: none;
    /* Sombra removida */
    padding: 25px;
    text-align: center;
    border: none;
    /* Bordas removidas */
}

.card h1 {
    font-size: 4rem;
    /* Fonte do título aumentada */
    margin-top: -20px;
    /* Move o título para cima */
    margin-bottom: 10px;
    /* Diminui o espaço abaixo do título, movendo a imagem para cima */
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(10, 29, 55, 0.7);
    color: white;
    border: none;
    width: 45px;
    /* Define largura e altura iguais para um círculo perfeito */
    height: 45px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 100;
    transition: background-color 0.3s ease;
    display: flex;
    /* Centraliza o ícone dentro do botão */
    align-items: center;
    justify-content: center;
}

.carousel-btn:hover {
    background-color: rgba(10, 29, 55, 1);
}

.prev-btn {
    left: -70px;
    /* Move o botão para fora do card */
}

.next-btn {
    right: -70px;
    /* Move o botão para fora do card */
}